.reveal .title {
    font-size: 2.0em;
}

.reveal .date {
    font-size: 1.2em;
    margin-top: 3.0em;
}

.twocolumn {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 40px;
    text-align: left;
}

.bottom-left {
    position: absolute;
    bottom: 10px; /* Adjust the value as needed */
    left: 10px; /* Adjust the value as needed */
    font-size: 12px; /* Smaller font size */
    color: #333; /* Text color */
}

/* Family Feud */
#video-container {
    display: none;
    text-align: center;
}
video {
    max-width: 80%;
    max-height: 80vh;
}
#container {
    width: 1000px;
    height: 900px;
    position: relative;
}
#family-feud-game,
#video-container {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#video-container {
    z-index: 10;
}
